page-cafe {
  .card-background-page {
    background-color: #f4f4f7;
    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      //font-size: 2.0em;
      font-size: 3.0em;
      width: 100%;
      font-weight: bold;
      //color: #fff;
      line-height: 10%;
      color: mintcream;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      font-weight: bold;
      top: 52%;
      width: 100%;
      color: #fff;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  }
}
